.header {
  background: #292929;
  color: #ffffff;
}

.header .container {
  display: flex;
  align-items: center;
  height: 96px;
}

.header a {
  text-transform: lowercase;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
}

.header__nav {
  display: flex;
  flex: 1 1 auto;
}

.header__nav a {
  margin-left: 16px;
  padding: 16px;
}

.header__nav a:first-child {
  margin-left: 0;
}

.header__nav a:hover,
.header__nav a.active {
  background: #f5da55;
  color: #292929;
}

.languageSwitcher {
  flex: 0 0 auto;
}

.languageSwitcher a {
  height: 24px;
  padding: 3px 8px;
}

@media (max-width: 600px) {
  .header .container {
    display: block;
    height: auto;
  }
  .header__nav {
    display: block;
  }
  .header__nav a {
    display: block;
    padding: 3px 8px;
  }
  .languageSwitcher a {
    display: block;
  }
}
